<!DOCTYPE html>
<html lang="en">
<head>
    <title>MyBooks</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <!--link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen"-->
    <link rel="stylesheet" type="text/css" media="screen" href="../stylesheets/main.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../vendor/monthpicker.css">


    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="../vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="../vendor/jquery.megaselectlist.js"></script>
    <script src="../vendor/monthpicker.min.js"></script>
    <script src="../vendor/jquery.raty.min.js"></script>

</head>
<body>

{{> head}}

<div id="main">
{{{ yield }}}
</div>


<p id="footer">
    MyBooks is built with node.js. &nbsp;&nbsp;&nbsp; Author: Michael Kober &nbsp;&nbsp;&nbsp;Code: <a href="https://github.com/kobmic/node-mybooks">https://github.com/kobmic/node-mybooks</a>
</p>


<script>
    $(document).ready(function () {

        $('.rating').raty({
            path: '../vendor/img',
            readOnly: true,
            score: function() {
                return $(this).attr('data-score');
            }
        });
    });
</script>


</body>
</html>